<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body >
	<style>
		body  
		{  
		background-image:url("https://www.wallpapertip.com/wmimgs/48-487951_ct-scan-example.jpg"); 
		background-repeat: no-repeat; 
		}
	</style>	  
	<h1 style="text-align:center; font-family:verdana; font-size:300%;color: rgb(179, 108, 165)">
		COVID 19 DETECTION
	</h1>	

	<form style="text-align:center;font-family:cursive;color:rgb(179, 108, 165);" method="POST" action="/submit" enctype="multipart/form-data">
		<input type='file' name='userfile' style="color:rgb(39,102,185);"> 
		<input type='submit'>
	</form>	
</body>
</html>